.curso{
    padding: 20px;
    width: 200px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.c1{
    background-color: gray;
}
.c2{
    background-color: red;
    color: white;
}

.c1:hover{
    border: 2px solid red;
}

.c2:hover{
    border: 2px solid blue;
}

.destaque{
    background-color: #800 !important;
    color: #fcc !important;
    border-color: #f00 !important;
}